@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body  {
  background: url(./bg.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

h1 {
  border-bottom: 3px solid #7CFC00;
}

h2 {
  width: min-content !important;
  border-bottom: 1px solid #7CFC00;
}

p {
  padding-top: 3px;
}

.row--ls {
  padding-bottom: 8px;
  border-bottom: 1px solid #7CFC00;
  font-size: 18px;
}

input[type="text"], select {
  color: #fff !important;
  border: none !important;
  outline: none !important;
  background: none !important;  
  font-size: 16px !important;
} 
input::placeholder {
  color: #fff !important;
  opacity: 1;
}

input[type="text"]:focus, select:focus {
  border: none !important;
  outline: none !important;
}

select {
  appearance: none;
}

#submit {
  color: #fff !important;
  border: 1px solid #7CFC00 !important;
}

